/* Styles de la barre de navigation */
nav {
    background-color: #333; /* Couleur de fond de la barre de navigation */
    padding: 10px 0; /* Espacement interne de la barre (haut et bas) */
}

/* Styles de la liste non ordonnée (ul) */
nav ul {
    display: flex; /* Utilisation de Flexbox pour l'alignement des éléments */
    justify-content: space-around; /* Espacement égal entre les éléments */
    list-style: none; /* Supprimer les puces de la liste */
    margin: 0; /* Supprimer les marges par défaut */
    padding: 0; /* Supprimer le padding par défaut */
}

/* Styles des éléments de la liste (li) */
nav ul li {
    margin: 0 20px; /* Espacement entre les éléments de la liste */
}

/* Styles des liens */
nav a {
    color: white; /* Couleur du texte */
    text-decoration: none; /* Retirer le soulignement */
    font-weight: bold; /* Mettre le texte en gras */
}

/* Ajouter un effet hover sur les liens */
nav a:hover {
    color: #ff6347; /* Changer la couleur au survol */
}

/*style pour le sur vole souris*/
a:hover {
    color: red;
}

/*img:hover {
    transform: scale(1.1);  /* Agrandit l'image de 10% au survol
}*/


/*style de la barre de navigation*/

.titre{
    text-align: center;
}

/*style pour l'image baniere*/

.banniere{
    display: flex;
    justify-content: center;
    padding-bottom: 100px;
}

 header{
    justify-content: center;
 }

 .img-ban{
    display: block;
    width: 1300px;
    margin: 0 auto;    
        
 }


 h3{
    margin: 20px;
}

 article{
    display: flex;
    flex-wrap: wrap;
    width: 500px;
 }

    
 .article {
    justify-content: center;

 }

.article p{
    width: 400px;
    margin:0 0 10px;
    text-align: justify;
}

    .img-article{
        display: block;      /* Fait de l'image un élément de type bloc */
        margin: 0 auto;      /* Centre l'image horizontalement */
        max-width: 100%;      /* Optionnel : rend l'image responsive */
        height: auto;         /* Maintient le ratio d'aspect */
        width: 400px;
    }

    section{
        
        display: flex;        /* Fait de l'image un élément de type bloc */
        margin: 0 auto;      /* Centre l'image horizontalement */
        max-width: 100%;    /* Optionnel : rend l'image responsive */
        width: 1300px;     
        height: auto;
    }


    h1{
        text-align: center;
    }

    .recette{ 
        width: 1300px;

    }

    .img-recette{
        display: block;      
        margin: 0 auto;  
        max-width: 100%;
        height: auto;    
    }

    #recette{
        display: block;
        
        
    }

    #etapes {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;
        width: 60%;
        margin: 0 auto;
    }

    a{
        text-decoration: none;
        color: #333;
    }

    #telechargement{
        text-align: center;
    }

 footer{
    background-color: #333;
    height: 100px;
    margin-top: 20px; /* Vous pouvez ajuster cette valeur */
    padding: 20px;    /* Espacement interne pour le texte à l'intérieur du footer */
 }

 footer ul{
    display: flex; /* Utilisation de Flexbox pour l'alignement des éléments */
    justify-content: space-around; /* Espacement égal entre les éléments */
    list-style: none; /* Supprimer les puces de la liste */
    margin: 0; /* Supprimer les marges par défaut */
    padding: 0; /* Supprimer le padding par défaut */
 }

 footer ul li{
    margin: 20px 20px;
 }

 footer a{
    color: white; /* Couleur du texte */
    text-decoration: none; /* Retirer le soulignement */
    font-weight: bold; /* Mettre le texte en gras */
 }

 footer p{
    text-align: center;
    color:white ;
}
